<!DOCTYPE html>

{% extends 'base.html' %}
{% load bootstrap4 %}

<div class="container">
	<h2 style="margin: 25px 25px 25px 25px;">Add or update beats now!</h2>


	{% block song_create %}

	    {% if not form.instance.pk %}

            <h4>Create song</h4>

        {% else %}

            <h4>Update Song</h4>

	    {% endif %}

        <!-- We use multipart/form-data because we are passing images-->
	    <form method="POST" enctype="multipart/form-data">
	    	{% csrf_token %}
	    	{% bootstrap_form form %}
	    	<input type="submit" name="" value="Create" class="btn btn-primary" style='margin-bottom: 25px;'>
	    </form>

	{% endblock %}
</div>